body {
	margin : 0;
	padding : 0 0 40px 0;
	font-family : 微軟正黑體, Verdana;
	font-size : 14pt;
	-ms-text-size-adjust : none;
	-webkit-text-size-adjust : none;
}

h1 {
	margin : 20px 0 0 0;
	padding : 10px 0 5px 10px;
	font-size : 20pt;
	font-style : italic;
	color : #993300;
	background-color : #FFDD66;
	border-style : solid;
	border-width : 0 0 0 20px;
	border-color : #993300;
}

h2 {
	margin : 20px 0 0 0;
	padding : 10px 0 5px 10px;
	font-size : 16pt;
	color : #C0504D;
	background-color : #F2DDDC;
	border-style : dotted;
	border-width : 0 0 1px 0;
	border-color : #C0504D;
}

h3 {
	margin : 20px 0 0 0;
	padding : 5px;
	font-size : 14pt;
	color : #4E6128;
	background-color : #D6E3BC;
	border-style : solid;
	border-width : 0 0 0 10px;
	border-color : #4E6128;
}

form {
	margin : 20px 0 0 20px;
	padding : 0;
}

input,select,button,textarea {
	margin : 0;
	padding : 2px;
	font-family : 微軟正黑體, Verdana;
	font-size : 14pt;
}

a {
	display : inline-block;
	text-decoration : none;
}

span {
	display : inline-block;
}


img {
	border-width : 0;
}

br.clear {
	clear : both;
}

div.stores {
	padding : 20px 0 10px 20px;
	font-size : 24pt;
	font-weight : bold;
	font-style : italic;
	color : #FFFFFF;
	background-color : #4F81BD;
}

div.logon {
	margin : 120px auto 0 auto;
	padding : 80px 0 0 0;
	width : 520px;
	text-align : center;
	background-color : #DCE6F1;
	border-style : solid;
	border-width : 10px;
	border-color : #4F81BD;
	border-radius : 20px;
}

div.logoff {
	position : fixed;
	right : 10px;
	top : 10px;
	text-align : right;
	z-index : 2;
}

div.logoff a {
	color : #FFFFFF;
}

div.order {
	position : fixed;
	left : 0;
	top : 10px;
	font-size : 16pt;
	z-index : 2;
}

div.order a {
	display : block;
	width : 80px;
	line-height : 30px;
	text-align : center;
	font-weight : bold;
	color : #5F497A;
	background-color : #B2A1C7;
	border-radius : 0 6px 6px 0;
}

div.order span {
	display : block;
	width : 80px;
	line-height : 30px;
	text-align : center;
	font-weight : bold;
	color : #AA0000;
	background-color : #FFFFFF;
	border-radius : 0 6px 6px 0;
}


div.sound {
	position : fixed;
	right : 100px;
	top : 10px;
	text-align : right;	
	z-index : 3;
}

div.pages {
	margin : 20px 0 0 20px;
	border-style : solid;
	border-width : 0 0 0 1px;
	border-color : #95B3D7;
}

div.pages a {
	padding : 5px 0;
	width : 50px;
	text-align : center;
	color : #000000;
	background-color : #FFFFFF;
	border-style : solid;
	border-width : 1px 1px 1px 0;
	border-color : #95B3D7;
}

div.pages a.current {
	font-weight : bold;
	text-align : center;
	color : #AA0000;
	background-color : #DCE6F1;
}


div.tab {
	position : fixed;
	left : 0;
	top : 0;
	width : 100%;
	padding : 10px 0 0 100px;
	background-color : #4F81BD;
	z-index : 1;
}

div.tab a {
	margin : 0 0 0 5px;
	width : 120px;
	padding : 10px 0 0 0;
	height : 30px;
	color : #FFFFFF;
	font-size : 16pt;
	font-weight : bold;
	text-align : center;
	border-radius : 6px 6px 0 0;
}

div.tab a:hover {
	background-color : #95B3D7;
}

div.tab a.current {
	color : #000000;
	background-color : #FFFFFF;
}


div.ordertab {
	position : fixed;
	left : 0;
	top : 0;
	width : 100%;
	padding : 10px 0 0 100px;
	background-color : #5F497A;
	z-index : 1;
}

div.ordertab a {
	margin : 0 0 0 5px;
	width : 160px;
	padding : 10px 0 0 20px;
	height : 30px;
	color : #FFFFFF;
	font-size : 16pt;
	font-weight : bold;
	border-radius : 6px 20px 0 0;
}

div.ordertab a:hover {
	background-color : #B2A1C7;
}

div.ordertab a.current {
	color : #000000;
	background-color : #FFFFFF;
}



div.formsubmit {
	margin : 20px 0 0 0;
	text-align : right;
}

div.formsubmit input {
	width : 160px;
	padding : 10px 0;
	font-weight : bold;
	font-size : 16pt;
	color : #CC0000;
}

ul.listorderform {
	margin : 50px 0 0 0;
	padding : 0;
	list-style-type : none;
}

ul.listorderform li {
	float : left;
	display : block;
	margin : 10px 0 0 10px;
	width : 396px;
	border-style : solid;
	border-width : 0 2px 2px 2px;
	border-color : #CCCCCC;
	border-radius : 0 0 10px 10px;
}

dl.orderform {
	margin : 0;
	padding : 0;
}

dl.orderform dt {
	overflow : auto;
	margin : 0;
	padding : 3px 5px;
	height : 110px;
	border-style : solid;
	border-width : 10px 0 0 0;
	border-color : #CCCCCC;
}

dl.orderform dt.history {
	border-color : #4F81BD;
}

dl.orderform dd {
	margin : 0;
	padding : 0;
	height : 360px;
	overflow : auto;
	border-style : solid;
	border-width : 1px 0 0 0;
	border-color : #CCCCCC;
}

dt div {
	padding : 0;
	text-align : right;
	font-size : 12pt;
	border-width : 0;
}

dt a {
	display :inline-block;
	margin : 0 0 0 5px;
	width : 60px;
	line-height : 20pt;
	text-align : center;
	font-weight : bold;
	color : #FFFFFF;
	background-color : #CCCCCC;
	border-radius : 6px;
}

dt a.remove {
	background-color : #CCAAAA;
}

dt a.done {
	background-color : #AACCAA;
}

dt span.number {
	width : 120px;
	font-size : 18pt;
	font-weight : bold;
	color : #C35617;
}

dt span.target {
	width : 120px;
	font-size : 18pt;
	font-weight : bold;
	color : #AA0000;
}

dt span.minutes {

}

dt span.pay {
	width : 120px;
	font-weight: bold;
	color : #006699;
}

dt span.total {
	width : 120px;
	font-weight: bold;
	color : #007700;
}

dt span.change {
	font-weight: bold;
	color : #AA0077;
}

dt span.memo {
	font-size : 12pt;
	padding : 0 0 0 10px;
}



dd div {
	padding : 5px 0;
	border-style : solid;
	border-width : 0 0 1px 0;
	border-color : #CCCCCC;
}

dd div.empty {
	padding : 40px 0;
	text-align : center;
	font-weight : bold;
	color : #AA0000;
}

dd div.queue {
	font-weight : bold;
	color : #FFFFFF;
	background-color : #AA0000;
}

dd div.cooking {
	font-weight : bold;
	color : #FFFFFF;
	background-color : #007700;
}

dd span.qty {
	margin : 0 0 0 10px;
	width : 40px;
}

dd span.status {
	margin : 0 0 0 5px;
	text-align : center;
	width : 55px;
	line-height : 26px;
	background-color : #FFFFFF;
	border-radius : 4px;
}

dd span.etc {
	margin : 0 0 0 125px;
	font-style : italic;
}

dd a.status {
	color : #000000;
	font-weight : normal;
}

dd a.remove {
	margin : 0 0 0 10px;
	color : #FFFFFF;
}

div.content {
	margin : 0 auto;
	padding : 50px 0 0 0;
	width : 960px;
}

div.notice {
	margin : 0 auto;
	width : 900px;
	padding : 10px 0;
	font-size : 18pt;
	line-height : 160%;
}

textarea.notice {
	display : block;
	width : 880px;
	height : 400px;
	font-size : 18pt;
}


ul.pausedmeal {
	margin : 0;
	padding : 0;
	list-style-type : none;
}

ul.pausedmeal li {
	float : left;
	margin : 20px 0 0 20px;
	padding : 5px 0 0 5px;
	width : 200px;
	height : 70px;
	border-style : solid;
	border-width : 1px;
	border-color : #95B3D7;
	border-radius : 4px;
}

ul.pausedmeal li.checked {
	color : #FFFFFF;
	background-color : #4F81BD;
}

ul.pausedmeal input {
	display : none;
}


ul.listcategory {
	margin : 0;
	padding : 0;
	list-style-type : none;
}

ul.listcategory li {
	float : left;
	display : block;
	margin : 1px 1px 0 0;
	width : 159px;
	height : 119px;
}

ul.listcategory a {
	display : block;
	padding : 89px 0 0 0;
	font-size : 12pt;
	font-weight : bold;
	color : #FFFFFF;
}

ul.listcategory span {
	display : block;
	padding : 5px 0 0 5px;
	height : 25px;
	background-color : rgba(0, 0, 0, 0.5);
}

ul.listcategory span.current {
	color : #000000;
	background-color : rgba(255, 255, 255, 0.5);
}
}

ul.listcategory a {
	display : block;
	padding : 89px 0 0 0;
	font-weight : bold;
	color : #FFFFFF;
}

ul.listcategory span {
	display : block;
	padding : 5px 0 0 5px;
	height : 25px;
	background-color : rgba(0, 0, 0, 0.5);
}

ul.listcategory span.current {
	color : #000000;
	background-color : rgba(255, 255, 255, 0.5);
}


ul.listmeal {
	margin : 0 0 0 0;
	padding : 0;
	list-style-type : none;
}

ul.listmeal li {
	float : left;
	display : block;
	margin : 1px 1px 0 0;
	width : 191px;
	height : 191px;
}

ul.listmeal a {
	display : block;
	padding : 141px 0 0 0;
	font-size : 12pt;
	font-weight : bold;
	color : #FFFFFF;
}

ul.listmeal span {
	display : block;
	padding : 5px 0 0 5px;
	height : 45px;
	background-color : rgba(0, 0, 0, 0.5);
}

ul.listmeal span.current {
	color : #000000;
	background-color : rgba(255, 255, 255, 0.5);
}

ul.listmeal span.paused {
	text-decoration : line-through;
	background-color : rgba(0, 0, 0, 0.8);
}


div.mealpaused {
	margin : 20px 0 0 40px;
	padding : 30px;
	font-weight : bold;
	background-color : #E0E0E0;
	border-radius : 10px;
}

div.mealqty {
	position : relative;
	padding : 0 0 0 180px;
	height : 160px;
	background-repeat : no-repeat;
	background-position : 0 0;
}

div.mealqty div.btn {
	position : absolute;
	top : 0;
	right : 10px;
}

div.mealqty input.btn {
	width : 160px;
	padding : 10px 0;
	color : #AA0000;
}

div.mealqty input.qty {
	width : 200px;
	text-align : center;
	font-size : 36pt;
	color : #770077;
	border-style : solid;
	border-width : 1px;
	border-color : #95B3D7;
	border-radius : 6px;
}

div.mealqty a {
	margin : 0 0 0 20px;
	width : 80px;
	line-height: 60px;
	text-align : center;
	font-weight : bold;
	font-size : 24pt;
	color : #FFFFFF;
	border-radius : 6px;
}

div.mealqty a.dec {
	background-color : #CC6600;
}

div.mealqty a.inc {
	background-color : #007700;
}



ul.listflavor {
	margin : 20px 0 0 20px;
	padding : 0;
	list-style-type : none;
}

ul.listflavor li {
	float : left;
	display : block;
	width : 230px;
}

ul.listflavor a {
	display : block;
	margin : 1px 1px 0 0;
	padding : 10px 0 0 79px;
	height : 64px;
	color : #000000;
	background-repeat : no-repeat;
	background-position : 5px 5px;
	border-style : solid;
	border-width : 1px;
	border-color : #95B3D7;
	border-radius : 6px;
}

ul.listflavor a.checked {
	color : #FFFFFF;
	background-color : #4F81BD;
}

ul.listflavor input {
	display : none;
}


ul.listadditional {
	margin : 20px 0 0 20px;
	padding : 0;
	list-style-type : none;
}

ul.listadditional li {
	float : left;
	display : block;
	width : 306px;
}

ul.listadditional a {
	display : block;
	margin : 1px 1px 0 0;
	padding : 10px 0 0 110px;
	height : 65px;
	color : #000000;
	background-repeat : no-repeat;
	background-position : 0 0;
	border-style : solid;
	border-width : 1px;
	border-color : #95B3D7;
	border-radius : 6px;
}

ul.listadditional a.checked {
	color : #FFFFFF;
	background-color : #4F81BD;
}

ul.listadditional input {
	display : none;
}




ul.listcart {
	margin : 0;
	padding : 0;
	list-style-type : none;
}

ul.listcart li {
	float : left;
	display : block;
	margin : 4px 4px 0 0;
	width : 160px;
	height : 160px;
}

ul.listcart li.info {
	width : 604px;
}

ul.listcart li.operation {
	margin : 4px 0 0 0;
	width : 188px;
}

ul.listcart div.no {
	padding : 0 10px;
	line-height : 40px;
	text-align : right;
	font-weight : bold;
	font-size : 16pt;
	color : #FFFFFF;
	background-color : rgba(0, 0, 0, 0.5);
}

ul.listcart div.title {
	padding : 0 0 0 10px;
	line-height : 40px;
	font-weight : bold;
	font-size : 16pt;
	color : #000000;
	background-color : #E0E0E0;
}

ul.listcart div.more {
	padding : 0 0 0 80px;
}

ul.listcart div.formula {
	text-align : right;
	padding : 0 20px 0 0;
	line-height : 40px;
}

ul.listcart span.qty {
	width : 40px;
}

ul.listcart a {
	width : 60px;
	line-height : 40px;
	text-align : center;
	font-size : 16pt;
	font-weight : bold;
	color : #FFFFFF;
}

ul.listcart a.remove {
	background-color : #AA0000;
}

ul.listcart a.inc {
	margin : 0 0 0 4px;
	background-color : #007700;
}

ul.listcart a.dec {
	margin : 0 0 0 4px;
	background-color : #CC6600;
}

ul.listcart a.row {
	display : inline;
}

div.carttotal {
	margin : 20px 0 0 0;
	text-align : center;
	line-height : 80px;
	font-size : 28pt;
	font-weight : bold;
	color : #AA0000;
	border-style : solid;
	border-width : 1px 0 0 0;
	border-color : #4F81BD;
}

div.carttool {
}

div.carttool a {
	margin : 0 20px 0 0;
	padding : 10px 0;
	width : 160px;
	text-align : center;
	font-weight : bold;
	color : white;
	background-color : #773377;
}



ul.listcheckout {
	margin : 0;
	padding : 0;
	list-style-type : none;
}

ul.listcheckout li {
	float : left;
	display : block;
	margin : 20px 0 0 20px;
	font-weight : bold;
}

ul.listcheckout li.targets {
	width : 600px;
}

ul.listcheckout li.number {
	width : 300px;
}

ul.listcheckout li.btns {
	width : 600px;
}

ul.listcheckout li.other {
	width : 600px;
}

ul.listcheckout select {
	font-size : 28pt;
	padding : 0 0 0 20px;
	width : 160px;
	color : #660066;
}

ul.listcheckout input {
	width : 160px;
	padding : 0 20px 0 0;
	height : 58px;
	font-size : 36pt;
	text-align : right;
	border-style : solid;
	border-width : 1px;
	border-color : #95B3D7;
	border-radius : 6px;
}

ul.listcheckout input.pay {
	color : #AA0000;
}

ul.listcheckout input.total {
	color : #0066CC;
}

ul.listcheckout input.change {
	color : #007700;
}

ul.listcheckout input.memo {
	padding : 0 0 0 20px;
	text-align : left;
	width : 520px;
}

ul.listcheckout input.btn {
	width : 160px;
	height : 80px;
	padding : 0;
	text-align : center;
	color : #FFFFFF;
	font-size : 16pt;
	font-weight : bold;
	background-color : #AA0000;
	border-width : 0;
	border-radius : 6px;
	cursor : pointer;
}

ul.listcheckout button {
	margin : 0 20px 0 0;
	width : 120px;
	height : 60px;
	font-size : 16pt;
}

ul.listcheckout div {
	height : 80px;
}

div.searchtool {
	text-align : right;
}

