<div class="order"><span>#$${form_number}<span></div>
<div class="logoff"><a href="#" onclick="return CHECK_TO_REMOVE('$${cancel_confirm}', '$${cancel_url}');">##{FRONT_ORDER_CANCEL}</a></div>
<div class="ordertab"><OKT:list id="section"><a href="$${section_url}" class="$${section_class}">$${section_name}</a></OKT:list></div>
<div class="searchtool"><form action="$${action_url}" method="post">##{FRONT_MEAL_SEARCH_LABEL}: <input type="search" name="##{POST_SEARCH_KEYWORD}" value=""> <input type="submit" value="##{FRONT_MEAL_SEARCH_SUBMIT}"></form></div>
