<h2>##{BACK_ABOUT_TITLE}</h2>
<table class="list">
	<tr class="r1"><th class="item">##{BACK_ITEM_NAME}</th><th>##{BACK_ITEM_VALUE}</th></tr>
	<tr class="r0"><td>##{BACK_ABOUT_COMPANY}</td><td>##{ABOUT_COMPANY}</td></tr>
	<tr class="r1"><td>##{BACK_ABOUT_PRODUCT}</td><td>##{ABOUT_PRODUCT}</td></tr>
	<tr class="r0"><td>##{BACK_ABOUT_VERSION}</td><td>##{ABOUT_VERSION}</td></tr>
	<tr class="r1"><td>##{BACK_ABOUT_PROGRAMMER}</td><td>##{ABOUT_PROGRAMMER}</td></tr>
	<tr class="r0"><td>##{BACK_ABOUT_WEB}</td><td>##{ABOUT_WEB}</td></tr>
	<tr class="r1"><td>##{BACK_ABOUT_EMAIL}</td><td>##{ABOUT_EMAIL}</td></tr>
</table>

<h2>##{BACK_ABOUT_TITLE_LOGO}</h2>
<ul class="logo">
	<li><img src="_logo/logo_128x128.png">128x128</li>
	<li><img src="_logo/logo_64x64.png">64x64</li>
	<li><img src="_logo/logo_48x48.png">48x48</li>
	<li><img src="_logo/logo_32x32.png">32x32</li>
	<li><img src="_logo/logo_16x16.png">16x16</li>
</ul><br class="clear">