<h2>$${action_title}</h2>
<form action="$${action_url}" method="post">
<table class="input">
	<tr>
		<th class="item">##{BACK_TABLE_NAME}</th>
		<th>##{BACK_TABLE_ADDRESS}</th>
	</tr>
	<tr>
		<td><input type="text" name="##{POST_NAME}[]" value="" style="width:90%;"></td>
		<td><input type="text" name="##{POST_ADDRESS}[]" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td><input type="text" name="##{POST_NAME}[]" value="" style="width:90%;"></td>
		<td><input type="text" name="##{POST_ADDRESS}[]" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td><input type="text" name="##{POST_NAME}[]" value="" style="width:90%;"></td>
		<td><input type="text" name="##{POST_ADDRESS}[]" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td><input type="text" name="##{POST_NAME}[]" value="" style="width:90%;"></td>
		<td><input type="text" name="##{POST_ADDRESS}[]" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td><input type="text" name="##{POST_NAME}[]" value="" style="width:90%;"></td>
		<td><input type="text" name="##{POST_ADDRESS}[]" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td><input type="text" name="##{POST_NAME}[]" value="" style="width:90%;"></td>
		<td><input type="text" name="##{POST_ADDRESS}[]" value="" style="width:40%;"></td>
	</tr>
	<tr class="r0">
		<td colspan="2" class="submit"><input type="submit" value="##{BACK_SUBMIT_NEW}"></td>
	</tr>
</table>
</form>