<h2>##{BACK_STORES_TITLE}</h2>
<table class="list">
	<tr class="r1"><th class="item">##{BACK_ITEM_NAME}</th><th>##{BACK_ITEM_VALUE}</th></tr>
	<tr class="r0"><td>##{BACK_STORES_NAME}</td><td>##{THE_STORES_NAME}</td></tr>
	<tr class="r1"><td>##{BACK_STORES_NAME_ENGLISH}</td><td>##{THE_STORES_NAME_ENGLISH}</td></tr>
	<tr class="r0"><td>##{BACK_STORES_TELEPHONE}</td><td>##{THE_STORES_TELEPHONE}</td></tr>
	<tr class="r1"><td>##{BACK_STORES_ADDRESS}</td><td>##{THE_STORES_ADDRESS}</td></tr>
	<tr class="r0"><td>##{BACK_STORES_EMAIL}</td><td>##{THE_STORES_EMAIL}</td></tr>
	<tr valign="top" class="r1"><td>##{BACK_STORES_LOGO}</td><td><img src="logo.png?##{RANDOM_STRING}"></td></tr>
</table>
