<h2>$${action_title}</h2>
<form action="$${action_url}" method="post">
<table class="input">
	<tr>
		<th class="item">##{BACK_ITEM_NAME}</th>
		<th>##{BACK_ITEM_VALUE}</th>
	</tr>
	<tr class="r0">
		<td colspan="2" class="section">##{BACK_CONFIG_BACK_USER_OLD}</td>
	</tr>
	<tr>
		<td>##{BACK_CONFIG_BACK_USER_ACCOUNT}</td>
		<td><input type="text" name="$${post_old_account}" value="" style="width:30%;"></td>
	</tr>
	<tr>
		<td>##{BACK_CONFIG_BACK_USER_PASSWORD}</td>
		<td><input type="text" name="$${post_old_password}" value="" style="width:40%;"></td>
	</tr>
	<tr class="r0">
		<td colspan="2" class="section">##{BACK_CONFIG_BACK_USER_NEW}</td>
	</tr>
	<tr>
		<td>##{BACK_CONFIG_BACK_USER_ACCOUNT}</td>
		<td><input type="text" name="$${post_new_account}" value="" style="width:30%;"></td>
	</tr>
	<tr>
		<td>##{BACK_CONFIG_BACK_USER_PASSWORD}</td>
		<td><input type="text" name="$${post_new_password}" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td>##{BACK_CONFIG_BACK_USER_PASSWORD_AGAIN}</td>
		<td><input type="text" name="$${post_new_password_again}" value="" style="width:40%;"></td>
	</tr>
	<tr class="r0">
		<td colspan="2" class="submit"><input type="submit" value="##{BACK_SUBMIT_SAVE}"></td>
	</tr>
</table>
</form>