<h2>$${action_title}</h2>
<form action="$${action_url}" method="post" enctype="multipart/form-data">
<table class="input">
	<tr>
		<th class="item">##{BACK_ITEM_NAME}</th>
		<th>##{BACK_ITEM_VALUE}</th>
	</tr>
	<tr>
		<td>##{BACK_ADDITIONAL_MB_NAME}</td>
		<td><input type="text" name="##{POST_NAME}" value="" style="width:40%;"></td>
	</tr>
	<tr>
		<td>##{BACK_ADDITIONAL_MB_NAME_ENGLISH}</td>
		<td><input type="text" name="##{POST_NAME_EN}" value="" style="width:60%;"></td>
	</tr>
	<tr>
		<td>##{BACK_ADDITIONAL_MB_PRICE}</td>
		<td><input type="number" name="##{POST_PRICE}" value="0" style="width:15%;"></td>
	</tr>
	<tr>
		<td>##{BACK_ADDITIONAL_MB_DESCRIPTION}</td>
		<td><input type="text" name="##{POST_DESCRIPTION}" value="" style="width:80%;"></td>
	</tr>
	<tr>
		<td>##{BACK_ADDITIONAL_MB_DESCRIPTION_ENGLISH}</td>
		<td><input type="text" name="##{POST_DESCRIPTION_EN}" value="" style="width:80%;"></td>
	</tr>
	<tr>
		<td>##{BACK_ADDITIONAL_MB_PHOTO}</td>
		<td><input type="file" name="##{POST_PHOTO}"> (##{BACK_ADDITIONAL_MB_PHOTO_DESCRIPTION})</td>
	</tr>
	<tr class="r0">
		<td colspan="2" class="submit"><input type="submit" value="##{BACK_SUBMIT_NEW}"></td>
	</tr>
</table>
</form>