<h2>$${action_title}</h2>
<form action="$${action_url}" method="post" enctype="multipart/form-data"><input type="hidden" name="##{POST_ID}" value="$${source_id}">
<table class="input">
	<tr>
		<th class="item">##{BACK_ITEM_NAME}</th>
		<th>##{BACK_ITEM_VALUE}</th>
	</tr>
	<tr valign="top" class="r0">
		<td>##{BACK_CURRENT_PHOTO}</td>
		<td>$${source_photo}</td>
	</tr>
	<tr>
		<td>##{BACK_TAG_NAME}</td>
		<td><input type="text" name="##{POST_NAME}" value="$${source_name}" style="width:40%;"></td>
	</tr>
	<tr>
		<td>##{BACK_TAG_NAME_ENGLISH}</td>
		<td><input type="text" name="##{POST_NAME_EN}" value="$${source_name_english}" style="width:60%;"></td>
	</tr>
	<tr>
		<td>##{BACK_TAG_HIDE}</td>
		<td><select name="##{POST_HIDE}" size="1">$${options_hide}</select></td>
	</tr>
	<tr>
		<td>##{BACK_TAG_HIDE_IN_ORDER}</td>
		<td><select name="##{POST_HIDE_IN_ORDER}" size="1">$${options_hide_in_order}</select></td>
	</tr>
	<tr>
		<td>##{BACK_TAG_PHOTO}</td>
		<td><input type="file" name="##{POST_PHOTO}"> (##{BACK_TAG_PHOTO_DESCRIPTION})</td>
	</tr>
	<tr class="r0">
		<td colspan="2" class="submit"><input type="submit" value="##{BACK_SUBMIT_SAVE}"></td>
	</tr>
</table>
</form>