<h1>##{IPOD_CHECKOUT_TITLE_DONE}</h1>
<dl class="listorderform">
	<dt>
		<span class="number">##{IPOD_ORDER_FORM_LABEL_NUMBER}: $${form_number}</span>
		<span class="target">##{IPOD_ORDER_FORM_LABEL_TABLE}: $${form_table}</span><br>
		<span class="total">##{IPOD_ORDER_FORM_LABEL_TOTAL}: $${form_total}</span>
		<span class="pay">##{IPOD_ORDER_FORM_LABEL_PAY}: $${form_pay}</span>
		<span class="change">##{IPOD_ORDER_FORM_LABEL_CHANGE}: $${form_change}</span><br>
		##{IPOD_ORDER_FORM_LABEL_TIME}: $${form_time}<br>
		##{IPOD_ORDER_FORM_LABEL_MEMO}: $${form_memo}
	</dt>
</dl>