<!DOCTYPE html>
<html lang="##{HTML_LANG}"><head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=##{VIEWPORT_WIDTH}">
<link rel="stylesheet" href="##{TEMPLATE_PATH}/ipod.css">
<link rel="apple-touch-icon-precomposed" href="_logo/logo_128x128.png">
<title>##{IPOD_LOGON_TITLE}</title>
</head><body><div class="content">
<div class="stores">##{THE_STORES_NAME}</div>
<OKT:content></OKT:content>
</div></body></html>